//
// ----------------------------------------
// COLORS
//
// Colors in variables.
// Basically we have 8 brand colors:

$color--orange: #ffdea6;
$color--gray-light: #fbfbfb;
$color--blue-light: #dcf2fd;
$color--gray: #9fa1a4;
$color--blue: #0058b5;
$color--brown: #1a181b;
$color--red: #d9002d;
//
// And of course:
// - black
$color--black: #000000;
// - white
$color--white: #ffffff;
