// ----------------------------------------
// Form elements
//

.form{
	// ----------------
	// Custom radio buttons
	//
	&__radio{
		display: inline-block;
		margin-left: 22px;
		@include media('<xs') {
			margin: 5px 10px;
		}
		input[type=radio] {
			display: none;
			& + label{
				position: relative;
				display: inline-block;
				cursor: pointer;
				span{
					display: inline-block;
					margin-right: 10px;
					width: 15px;
					height: 15px;
					border: 1px solid #a1a2a6;
					border-radius: 50%;
					content: '';
					vertical-align: middle;
					position: relative;
					&:after{
						position: absolute;
						top: 3px;
						left: 3px;
						display: none;
						width: 7px;
						height: 7px;
						border: 1px solid #000;
						border-radius: 50%;
						background-color: #000;
						content: '';
						vertical-align: middle;
					}
				}
			}
			&:checked + label span:after{
				display: inline-block;
			}
		}
	}
	// ----------------
	// Sort component
	//
	&__sort{
		font-style: italic;
		&__btn{
			margin: 0 5px;
			color: blue;
			letter-spacing: 0.2px;
			font-weight: 100;
			&:last-of-type{
				margin-right: 0;
			}
			&--active{
				color: $color--gray;
				text-decoration: underline;
			}
		}
	}
	// ----------------
	// Search component
	//
	&__search{
		display: flex;

		justify-content: space-between;
		input[type="text"]{
			outline: none;
			padding: 0 17px;
			width: calc(100% - 200px);
			border: 1px solid #ededed;
			letter-spacing: 0.2px;
			font-size: 14px;
			font-family: $font--primary;
			-webkit-appearance: none;
			border-radius: 0;
			@include media('<xs') {
				padding-top: 5px;
				width: calc(100% - 130px);
			}
		}
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color: #71868e;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: #71868e;
			opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: #71868e;
			opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #71868e;
		}
		::-ms-input-placeholder { /* Microsoft Edge */
			color: #71868e;
		}
	}
}
