//
// ----------------------------------------
// GENERAL
//
// The most general styles for
// <body> .container and .page-content
//

body {
	background-color: $color--orange;
	font-family: $font--primary;
	color: $color--brown;
	position: relative;
}

.container {
	padding: 0 15px;
	width: 830px;
	margin: 0 auto;
	@include  media('<sm') {
		width: 100%;
		padding: 0;
	}
}

.page-content{
	background-color: $color--gray-light;
	width: 1200px;
	margin:  0 auto;
	padding-top: 155px;
	box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
	@include  media('<lg') {
		width: 100%;
	}
	&--small-header{
		padding-top: 115px;
		@include media('<md') {
			padding-top: 105px;
		}
		@include media('<xs') {
			padding-top: 60px;
		}
	}
}
