//
// ----------------------------------------
// TYPOGRAPHY
//
// Beware using global styles!
// http://cssspecificity.com/
//

h3{
	color: #7e8093;
	text-transform: uppercase;
	font-weight: 100;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1.1px;
	margin-right: 3px;
}
