<template lang="html">
	<div>
		<main class="page-content">
			<div class="container">
				<section class="questions__wrapper">
					<ul class="questions__list">
						<li class="question"  v-for="(question, index) in filteredQuestions" v-if="index < questionsCounter">
							<app-single-question :question="question" :users="users" :user="users[question.userId]" @showModal="showModal($event)"></app-single-question>
						</li>
					</ul>
					<div class="questions__load-more" v-if="questionsCounter < questions.length && filteredQuestions.length > questionsCounter">
						<button class="btn" @click.prevent="questionsCounter += 2">load more questions</button>
					</div>
					<div class="questions__no-result" v-if="filteredQuestions.length == 0">No results found for your search.</div>
				</section>
			</div>
		</main>
		<transition name="fade">
			<app-modal v-show="isModalVisible" @hideModal="hideModal($event)" :modalUser="modalUser"></app-modal>
		</transition>
	</div>
</template>
<script>

import Modal from '@/components/Modal.vue';
import Single_question from '@/components/questions/Single_question.vue';
import users from '@/assets/data/users.json';
import answers from '@/assets/data/answers.json';
import questions from '@/assets/data/questions.json';

export default {
	data () {
		return {
			users,
			answers,
			questions,
			questionsCounter: 3,
			isModalVisible: false,
			modalUser: {}
		}
	},
	components: {
		'app-single-question': Single_question,
		'app-modal' : Modal
	},
	props: {
		searchQuery: String
	},
	methods: {
		showModal(user) {
			this.modalUser = user;
			this.isModalVisible = true;
			document.body.scrollTop = document.documentElement.scrollTop = 0;
		},
		hideModal() {
			this.isModalVisible = false;
		}
	},
	computed: {
		filteredQuestions() {
			return this.questions.filter(question => {
				return question.title.toLowerCase().includes(this.searchQuery.toLowerCase())
			})
		}
	}
}
</script>
