<template lang="html">
	<div>
		<header class="question__header">
			<div class="question__author__avatar">
				<img class="modal-open" @click="showModal(user)"  :src="'static/img/avatars/' + user.avatar" alt="">
			</div>
			<div class="question__heading">
				<p class="question__info"><span class="question__author__name modal-open"  @click="showModal(user)" >{{ user.name }}</span> is asking:</p>
				<p class="question__title">{{ question.title }}</p>
			</div>
		</header>
		<main class="question__wrapper">
			<div class="activities__wrapper">
				<p class="activity activity__type activity--main">Asked</p>
				<ul class="activities__list">
					<li class="activity activity--more">
						<p class="activity--more__val">{{ question.moreActivities }}</p>
						<p class="activity--more__text">more activities</p>
					</li>
					<template v-for="activity in question.activities">
						<li class="activity" :class="{'activity--answered': isActivityAnswer(activity.type)}">
							<img class="activity__author-avatar modal-open" @click="showModal(users[activity.userId])" :src="'static/img/avatars/' + users[activity.userId].avatar" alt="">
							<p class="activity__type">{{ activity.type }}</p>
						</li>
					</template>
				</ul>
			</div>
			<aside class="question__stats">
				<ul>
					<li class="question__stats__item"><span class="question__stats__value">{{ this.question.relatedDiscussion }}</span> related discussion</li>
					<li class="question__stats__item"><span class="question__stats__value">{{ this.question.peersInvilved }}</span> peers involved</li>
					<li class="question__stats__item"><span class="question__stats__value">{{ this.question.conversations }}</span> conversations</li>
				</ul>
			</aside>
		</main>
	</div>
</template>

<script>
export default {
	props: {
		question: Object,
		user: Object,
		users: Array
	},
	methods: {
		showModal(user) {
			this.$emit('showModal', user);
		},
		isActivityAnswer(activityType) {
			return activityType == 'answered';
		}
	}
}
</script>
