// ----------------------------------------
// Activities
.activities{
	&__wrapper{
		background-color: $color--white;
		margin-left: 92px;
		display: flex;
		min-width: 505px;
		@include media('<sm') {
			min-width: calc(100% - 295px);
		}
		@include media('<xs') {
			margin-left: 0;
			width: 100%;
			min-width: 0;
		}
	}
	&__list{
		display: flex;
		margin-left: 5px;
		.activity{
			background-color: #ededed;
			&--more{
				background-color: $color--white;
				text-align: center;
				padding: 0 5px;
				@include media('<xs'){
					padding: 0;
					background-color: #ededed;
				}
				&__val{
					margin-bottom: 54px;
					@include media('<xs') {
						margin-bottom: 25px;
					}
				}
				&__text{
					font-size: 14px;
					margin-bottom: 10px;
					font-style: italic;
				}
			}
		}
	}
}

.activity{
	width: 90px;
	margin: 33px 4px 0 6px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	@include media('<xs') {
		width: 80px;
		margin: 33px 5px 0 0;

		&:not(.activity--answered):not(.activity--more)
		{
			display: none;
		}
	}

	&:after{
		content: '';
		display: block;
		width: 10px;
		height: 10px;
		background-color: $color--gray;
		border-radius: 50%;
		position: absolute;
		bottom: -6px;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	&--answered{
		&:after{
			background-color: $color--black;
		}
		.activity__type{
			&:before{
				background-color: $color--black;
			}
		}
	}
	&--main{
		position: absolute;
		left: 11px;
		bottom: 0;
		width: 70px;
		margin: 10px 12px 0;
		&:after{
			display: none;
		}
	}
	&__author-avatar{
		border-radius: 50%;
		margin: 21px 0 44px;
		width: 50px;
		@include media('<xs') {
			margin: 10px 0 15px;
		}
	}
	&__type{
		margin: 10px 0 6px;
		text-transform: uppercase;
		color: $color--gray;
		font-size: 11px;
		letter-spacing: 0.7px;
		font-weight: 100;
		text-align: center;
		&:before{
			content: '';
			display: block;
			height: 1px;
			width: 70px;
			background-color: $color--gray;
			margin: 0 auto 10px;
		}
	}
}
