// ----------------------------------------
// Answer
.answers{
	padding-bottom: 233px;
	@include media('<sm') {
		padding-bottom: 70px
	}
	&__heading{
		text-align: center;
		font-style: italic;
		font-size: 15px;
		letter-spacing: 0.55px;
		margin-bottom: 15px;
	}
	&__val{
		font-weight: bold;
		font-style: normal;
	}
	&__thread{
		position: relative;
		margin-bottom: 38px;
		&:last-of-type{
			margin-bottom: 0;
		}
		>div >.answer{
			position: relative;
			z-index: 1;
		}
	}
}

.answer{
	box-shadow: 1px -1px 4px 1px #ccc;
	display: flex;
	justify-content: space-between;
	background-color: $color--white;
	@include media('<xs') {
		align-items: flex-end;
		flex-direction: column;
		position: relative;
	}
	&:nth-last-child(2){
		.answer__main{
			padding-bottom: 25px;
			@include media('<xs') {
				padding-bottom: 8px;
			}
		}
		.voting{
			@include media('<xs') {
				padding-bottom: 20px;
			}
		}
	}
	&__author{
		&__avatar{
			padding: 20px 21px;
			border-right: 1px solid #ccc;

			@include media('<xs') {
				border-right: none;
				position: absolute;
				padding: 0;
				width: 35px;
				top: 5px;
				left: 10px;
			}
			img{
				border-radius: 50%;
				width: 50px;
			}
		}
	}
	&__main{
		padding: 17px 20px 4px;
		flex-grow: 1;
		@include media('<xs') {
			width: 100%;
			padding: 16px 10px 6px;
		}
	}
	&__info{
		color: #758089;
		text-transform: uppercase;
		font-size: 12px;
		@include media('<xs') {
			margin-left: 50px;
		}
	}
	&__author__name{
		margin-right: 6px;
		color: #0058b5;
		text-transform: none;
		font-size: 16px;
	}
	&__date{
		font-style: italic;
		margin-left: 3px;
		text-transform: none;
		font-size: 14px;
		letter-spacing: 0.7px;
		color: $color--brown;
		&:before{
			content: "";
			display: inline-block;
			width: 3px;
			height: 3px;
			background-color: #718089;
			margin-right: 12px;
			vertical-align: middle;
			border-radius: 50%;
		}
	}
	&__content{
		padding: 12px 0;
		letter-spacing: .36px;
		font-size: 13px;
		line-height: 19px;
		@include media('<xs') {
			padding: 20px 0 10px;
		}
	}
	.voting{
		padding: 34px 10px 0;
		@include media('<xs') {
			padding: 0px 10px 0;
		}
	}
}
