// ----------------------------------------
// Discussion
.discussion{
	margin-left: 93px;
	@include media('<xs') {
		margin-left: 0;
		border-left: 9px solid #ccc;
	}
	.answer{
		border-top: 1px solid #ccc;
		@include media('<xs') {
			padding-bottom: 18px;
		}
		&:last-of-type{
			.answer__main{
				padding-bottom: 42px;
				@include media('<xs') {
					padding-bottom: 0;
				}
			}
		}
	}
}
