// ----------------------------------------
// Header

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	padding: 50px 0 20px;
	min-height: 116px;
	width: 100%;
	background-color: $color--white;
	box-shadow: 0 0 1px 0px #ccc;
	@include media('<lg') {
		padding: 35px 20px 15px;
		min-height: 105px;
	}
	@include media('<xs') {
		padding: 15px 10px 10px;
		min-height: 60px;
	}
	.btn--return{
		position: absolute;
		top: -8px;
		left: -175px;
		@include media('<lg') {
			position: relative;
			left: 0;
			margin-right: 55px;
		}
		@include media('<xs') {
			top: 0;
			margin-right: 25px;
		}
	}
	&__top{
		display: flex;
		position: relative;
		flex-wrap: wrap;

		justify-content: flex-start;
		&--left{
			flex-grow: 1;
			@include media('<xs') {
				display: flex;
				justify-content: space-between;
			}
		}
		&--right{
			@include media('<xs') {
				display: flex;
				flex-direction: column;
				width: 100%;
				text-align: center;
			}
		}
	}
	&__last-discuss{
		margin-top: 4px;
		margin-right: 8px;
		font-size: 14px;
		font-style: italic;
		letter-spacing: 0.8px;
		word-spacing: 0.7px;
		@include media('<xs') {
			display: none;
		}
		&__value{
			margin: 0 9px;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
		}
	}
	&__bottom{
		margin-top: 16px;
		@include media('<xs') {
			margin-top: 10px;
		}
	}
	&__heading{
		display: inline-block;
		margin-right: 23px;
		text-transform: uppercase;
		letter-spacing: 1.3px;
		font-size: 30px;
		@include media('<xs') {
			margin-right: 0;
		}
	}
	.form{
		&__filters{
			display: inline-block;
			letter-spacing: 0.5px;
		}
		&__sort{
			display: inline-block;
			margin-top: 15px;
			margin-left: 44px;
			letter-spacing: 0.7px;
			@include media('<xs') {
				margin-left: 0;
				margin-top: 5px;
			}
		}
	}
}
