// ----------------------------------------
// Modal
.modal{
	position: absolute;
	min-height: 1050px;
	top: 0;
	z-index: 9;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.71);
	transition: visibility 0s ease 0.4s, opacity 0.4s ease;
	&.open{
		opacity: 1;
		visibility: visible;
		transition-delay: 0s;
	}
	&__container{
		width: 850px;
		overflow: hidden;
		margin: 22px auto;
		background: $color--white;
		position: relative;
		text-align: center;
		@include media('<sm') {
			width: 100%;
		}
		@include media('<xs') {
			margin: 0;
		}
	}
	&__header{
		padding: 50px 0 12px;
		margin: 0 127px;
		border-bottom: 1px solid;
		@include media('<sm') {
			margin: 0 35px;
		}
		@include media('<xs') {
			padding: 20px 0 3px;
			margin: 0 10px;
		}
	}
	&__main{
		padding-bottom: 21px;
		position: relative;
		@include media('<xs') {
			padding-bottom: 0;
		}
	}
	&__btn{
		position: absolute;
		top: 0;
		@include media('<xs') {
			top: -4px;
		}
		&.btn--nav--prev{
			left: 125px;
			@include media('<sm') {
				left: 35px;
			}
			@include media('<sm') {
				left: 12px;
			}
		}
		&.btn--nav--next{
			right: 125px;
			@include media('<sm') {
				right: 35px;
			}
			@include media('<sm') {
				right: 12px;
			}
		}
	}
	&__heading{
		margin: 23px 0 29px;
		font-size: 38px;
		font-style: italic;
		letter-spacing: 3.3px;
		@include media('<xs') {
			margin: 19px 0 11px;
			font-size: 22px;
			letter-spacing: 2.8px;
		}
		&--secondary{
			display: block;
			@include media('<xs') {
				margin: 0 60px;
			}
		}
	}
}
.modal-open{
	cursor: pointer;
}
