
// ----------------------------------------
// User
.user{
	&__avatar{
		img{
			width: 85px;
			border-radius: 50%;
			@include media('<xs') {
				width: 50px;
			}
		}
	}
	&__name{
		color: $color--blue;
		font-size: 20px;
		margin: 12px 0 10px;
		letter-spacing: 1.2px;
		@include media('<xs') {
			font-size: 16px;
			margin: 6px 0 12px;
		}
	}
	&__info{
		display: flex;
		justify-content: space-between;
		@include media('<xs') {
			flex-direction: column;
		}
		&__block{
			@include media('<xs') {
				margin-bottom: 14px;
			}
		}
		h3{
			@include media('<xs') {
				display: block;
			}
		}
		span{
			font-size: 14px;
			letter-spacing: 0.9px;

		}
	}
	&__activity{
		display: inline-block;
		vertical-align: top;
		position: relative;
		bottom: 2px;
		@include media('<xs') {
			bottom: -4px;
		}
		&--1 img:nth-child(1){
			filter: none;
		}
		&--2 img:nth-child(-n+2){
			filter: none;
		}
		&--3 img:nth-of-type(-n+3){
			filter: none;
		}
		img{
			filter: grayscale(100) brightness(130%);
			& + img{
				margin-left: 6px;
			}
		}
	}
}
