// ----------------------------------------
// Voting
.voting{
	display: flex;
	width: 192px;
	min-width: 180px;
	text-align: center;
	justify-content: flex-end;
	@include media('<sm') {
		width: 150px;
		min-width: 100px;
	}
	@include media('<xs') {
		margin-top: 10px;
	}
	&__value{
		margin-right: 10px;
		font-weight: bold;
		font-style: normal;
	}
	&__text{
		margin-top: 13px;
		min-width: 80px;
		text-align: left;
		font-style: italic;
		font-size: 15px;
		display: inline-block;
	}
	&__panel{
		margin: 0 38px 0 12px;
		@include media('<sm') {
			margin-right: 10px;
		}
		@include media('<xs') {
			margin-right: 0px;
			margin-left: 20px;
		}
	}
	&__btn{
		display: block;
		margin-top: 1px;
		margin-bottom: 12px;
		padding: 0;
		width: 0;
		height: 0;
		outline: none;
		border-style: solid;
		background-color: transparent;
		cursor: pointer;
		transition: border-color 0.2s ease;
		&:disabled:not(.active){
			opacity: 0.3;
		}

		&--up{
			border-width: 0 5px 10px 5px;
			border-color: transparent transparent #007bff transparent;
			&:hover, &.active{
				border-color: transparent transparent #2dca2d transparent;
			}
		}
		&--down{
			border-width: 10px 5px 0 5px;
			border-color: #007bff transparent transparent transparent;
			&:hover, &.active{
				border-color: red transparent transparent transparent;
			}
		}
	}
}
