<template>
	<header class="header">
		<div class="container">
			<div class="header__top">
				<router-link to="/" class="btn btn--return"></router-link>
				<div class="header__top--left">
					<h1 class="header__heading">Questions</h1>
					<button class="btn btn--add"></button>
				</div>
				<div class="header__top--right">
					<div class="form__filters">
						<div class="form__radio">
							<input type="radio" id="my-shelf" name="filter" checked/>
							<label for="my-shelf"><span></span>My shelf</label>
						</div>
						<div class="form__radio">
							<input type="radio" id="all" name="filter" />
							<label for="all"><span></span>All questions</label>
						</div>
					</div>
					<div class="form__sort">
						<p>Sort by: <button class="btn form__sort__btn form__sort__btn--active">recent</button> <span class="form__sort__space">or</span> <button class="btn form__sort__btn">hot</button></p>
					</div>
				</div>
			</div>
			<div class="header__bottom">
				<form action="" class="form__search">
					<input type="text" placeholder="Search questions" name="search" v-model="searchQuery">
					<button class="btn btn--text" type="submit" @click.prevent="search">Search</button>
				</form>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	data () {
		return {
			searchQuery: ''
		}
	},
	methods: {
		search() {
			this.$emit('search', this.searchQuery);
		}
	}
}
</script>
