<template>
	<header class="header">
		<div class="container">
			<div class="header__top">
				<router-link to="/" class="btn btn--return"></router-link>
				<div class="header__top--left">
					<h1 class="header__heading">Question</h1>
					<button class="btn btn--add"></button>
				</div>
				<div class="header__top--right">
					<p class="header__last-discuss">Last time discussed <span class="header__last-discuss__value">1</span> day ago</p>
				</div>
			</div>
		</div>
	</header>
</template>

<script>
export default { }
</script>
