<template>
	<header class="header">
		<div class="container">
			<h1>Monterail test - Tomasz Wawrowski</h1>
			<p>SPA (vue.js) way</p>
			<h2>Views:</h2>
			<nav>
				<ul>
					<li><router-link to="/questions">All Questions Base</router-link></li>
					<li><router-link to="/question">Single Question Base</router-link></li>
				</ul>
			</nav>
		</div>
	</header>
</template>

<script>
export default { }
</script>

<style lang="scss" scoped>
p{
	margin-bottom: 20px;
}
ul{
	display: flex;
	padding: 0;
	margin: 0;
	li{
		margin: 20px 10px;
	}
	a{
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
</style>
