<template lang="html">
	<div class="modal" id="modal">
		<div class="modal__container">
			<header class="modal__header">
				<div class="user__avatar">
					<img :src="'static/img/avatars/' + modalUser.avatar"  alt="">
				</div>
				<p class="user__name">{{ modalUser.name }}</p>
				<div class="user__info">
					<div class="user__info__block">
						<h3>Member for</h3>
						<span>{{ calculateMemberFor(modalUser.joined) }} months</span>
					</div>
					<div class="user__info__block">
						<h3>Last seen</h3>
						<span>{{ calculateLastSeen(modalUser.lastSeen) }} days ago</span>
					</div>
					<div class="user__info__block">
						<h3>Activity level</h3>
						<div class="user__activity" :class="activityLevelClass(modalUser.activityLevel)">
							<img src="../assets/img/icons/ico--activity.jpg" alt="">
							<img src="../assets/img/icons/ico--activity.jpg" alt="">
							<img src="../assets/img/icons/ico--activity.jpg" alt="">
						</div>
					</div>
				</div>
			</header>
			<main class="modal__main">
				<nav>
					<ul>
						<li><button disabled class="modal__btn btn btn--nav btn--nav--prev">prev</button></li>
						<li><button class="modal__btn btn btn--nav btn--nav--next">next</button></li>
					</ul>
				</nav>
				<div>
					<h2 class="modal__heading">How it all started</h2>
					<h3 class="modal__heading--secondary">That's where we have been these {{ calculateMemberFor(modalUser.joined) }} months ago</h3>
					<section class="platform-stats">
						<div class="platform-stats__box">
							<div class="platform-stats__content">
								<div class="platform-stats__value">46</div>
								<span class="platform-stats__info">peers</span>
							</div>
						</div>
						<div class="platform-stats__box">
							<div class="platform-stats__content">
								<div class="platform-stats__value">29</div>
								<span class="platform-stats__info">discussions</span>
							</div>
						</div>
						<div class="platform-stats__box">
							<div class="platform-stats__content">
								<div class="platform-stats__value">19</div>
								<span class="platform-stats__info">findings</span>
							</div>
						</div>
						<div class="platform-stats__box">
							<div class="platform-stats__content">
								<div class="platform-stats__value">10</div>
								<span class="platform-stats__info">questions</span>
							</div>
						</div>
					</section>
					<h3 class="modal__heading--secondary">Who joined the platform that same period</h3>
					<section class="platform-joined">
						<div class="platform-joined__user">
							<div  class="platform-joined__user__avatar">
								<img  src="../assets/img/avatars/avatar--waweru.jpg" alt="">
							</div>
							<p class="platform-joined__user__name">S.E.N. Waweru</p>
						</div>
						<div class="platform-joined__user">
							<div class="platform-joined__user__avatar">
								<img src="../assets/img/avatars/avatar--patricia.jpg" alt="">
							</div>
							<p class="platform-joined__user__name">Patricia</p>
						</div>
						<div class="platform-joined__user">
							<div class="platform-joined__user__avatar">
								<img src="../assets/img/avatars/avatar--joseph.jpg" alt="">
							</div>
							<p class="platform-joined__user__name">Joseph Aluoch</p>
						</div>
					</section>
					<h3 class="modal__heading--secondary">The hottest discussion these days</h3>
					<section class="platform-discussion">
						<div class="platform-discussion__author__avatar">
							<img src="../assets/img/avatars/avatar--andrew.jpg" alt="">
						</div>
						<p>
							<span class="platform-discussion__author__name">Andrew</span>
							<span class="platform-discussion__info">Found the guardian article</span>
						</p>
						<p class="platform-discussion__title">Vegan diet to stop diabetes progress</p>
						<ul class="platform-discussion__stats">
							<li class="platform-discussion__stats__item"><span class="platform-discussion__stats__value">6</span> peers involved</li>
							<li class="platform-discussion__stats__item"><span class="platform-discussion__stats__value">3</span> realated discussion</li>
							<li class="platform-discussion__stats__item"><span class="platform-discussion__stats__value">3</span> conversations</li>
							<li class="platform-discussion__stats__item"><span class="platform-discussion__stats__value">19</span> upvotes</li>
						</ul>
					</section>
				</div>
			</main>
			<button class="btn btn--close modal-close" @click="hideModal"></button>
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		hideModal() {
			this.$emit('hideModal', this.user);
		},
		activityLevelClass(activityLevel) {
			let value = ['user__activity--' + activityLevel];
			return value
		},
		calculateLastSeen(lastSeen) {
			var oneDay = 24*60*60*1000;
			var firstDate = new Date(lastSeen);
			var currentDate = new Date();
			let diffDays = Math.round(Math.abs((firstDate.getTime() - currentDate.getTime())/(oneDay)));
			return diffDays
		},
		calculateMemberFor(joined) {
			var firstDate = new Date(joined);
			var currentDate = new Date();

			var months;
			months = (currentDate.getFullYear() - firstDate.getFullYear()) * 12;
			months -= firstDate.getMonth() + 1;
			months += currentDate.getMonth();
			return months <= 0 ? 0 : months;
		}
	},
	props:{
		modalUser: Object
	}
}
</script>
