<template>
	<div>
		<app-header @search="search($event)"></app-header>
		<app-questions :searchQuery="searchQuery" @showModal="showModal($event)"></app-questions>
	</div>
</template>


<script>
import Header from '@/components/header/Header_questions.vue';
import Questions from '@/components/questions/Questions_base.vue';

export default {
	data () {
		return {
			searchQuery: '',
		}
	},
	components: {
		'app-header': Header,
		'app-questions': Questions
	},
	methods: {
		search(searchQuery) {
			this.searchQuery = searchQuery;
		}
	}
}
</script>
