<template>
	<div>
		<app-header></app-header>
		<app-question :question="questions[0]" :answers="answers" :questionAuthor="users[questions[0].userId]"></app-question>
	</div>
</template>


<script>
import Header from '@/components/header/Header_question.vue';
import QuestionBase from '@/components/question/Question_base.vue';

import users from '@/assets/data/users.json';
import answers from '@/assets/data/answers.json';
import questions from '@/assets/data/questions.json';

export default {
	data () {
		return {
			users,
			answers,
			questions
		}
	},
	components: {
		'app-header': Header,
		'app-question' : QuestionBase,
	}
}
</script>
