<template lang="html">
	<li class="answer">
		<div class="answer__author__avatar">
			<img class="modal-open" :src="'static/img/avatars/' + users[answerDiscussion.userId].avatar"  @click="showModal(users[answerDiscussion.userId])" alt="">
		</div>
		<div class="answer__main">
			<p class="answer__info"><span class="answer__author__name modal-open" @click="showModal(users[answerDiscussion.userId])">{{ users[answerDiscussion.userId].name }}</span> commented it: <span class="answer__date">yesterday</span></p>
			<div class="answer__content"><p>{{ answerDiscussion.content }}</p></div>
		</div>
		<app-voting :votesParent="answerDiscussion"></app-voting>
	</li>
</template>

<script>
import Voting from'@/components/question/Voting.vue';
import users from '@/assets/data/users.json';

export default {
	data() {
		return{
			users
		}
	},
	components: {
		'app-voting': Voting
	},
	props: {
		answerDiscussion: Object
	},
	methods: {
		showModal: function(user) {
			this.$emit('showModal', user);
		}
	}
}
</script>
