<template lang="html">
	<div>
		<div class="answer">
			<div class="answer__author__avatar">
				<img class="modal-open" @click="showModal(user)" :src="'static/img/avatars/' + user.avatar"  alt="">
			</div>
			<div class="answer__main">
				<p class="answer__info"><span class="answer__author__name modal-open" @click="showModal(user)">{{ user.name }}</span> commented it: <span class="answer__date">yesterday</span></p>
				<div class="answer__content"><p>{{ answer.content }}</p></div>
			</div>
			<app-voting :votesParent="answer"></app-voting>
		</div>

		<ul v-if="answer.discussion.length > 0" class="discussion">
			<template v-for="discussion in answer.discussion">
				<app-answer-discussion :answerDiscussion="discussion" @showModal="showModal"></app-answer-discussion>
			</template>
			<button class="btn btn--reply">CONTIUNE discussion</button>
		</ul>
		<button v-else class="btn btn--reply">COMMENT</button>

	</div>
</template>

<script>
import AnswerDiscussion from '@/components/question/Answer_discussion.vue';
import Voting from '@/components/question/Voting.vue';

export default {
	components: {
		'app-answer-discussion': AnswerDiscussion,
		'app-voting': Voting
	},
	props: {
		answer: Object,
		user: Object
	},
	methods: {
		showModal: function(user) {
			this.$emit('showModal', user);
		}
	}
}
</script>
