<template lang="html">
	<div>
		<main class="page-content page-content--small-header">
			<div class="container">
				<section class="question question--simple">
					<header class="question__header">
						<div class="question__author__avatar modal-open" @click="showModal(questionAuthor)">
							<img :src="'static/img/avatars/' + questionAuthor.avatar" alt="">
						</div>
						<div class="question__heading">
							<p class="question__info"><span class="question__author__name modal-open" @click="showModal(questionAuthor)">{{ questionAuthor.name }}</span> is asking:</p>
							<p class="question__title">{{ question.title }}</p>
						</div>
						<div class="question__follow">unfollow</div>
					</header>
					<main class="question__full">
						<p class="question__content">{{ question.content }}</p>
						<app-voting :votesParent="question"></app-voting>
					</main>
					<button class="btn btn--reply">GIVE new answer</button>
				</section>
				<section class="answers">
					<h4 class="answers__heading"><span class="answers__val">{{ answers.length }}</span> peers already answered {{ questionAuthor.name }}</h4>
					<ul class="answers__list">
						<li v-for="answer in answers" class="answers__thread">
							<app-answer-thread :answer="answer" :user="users[answer.userId]" @showModal="showModal"></app-answer-thread>
						</li>
					</ul>
				</section>
			</div>
		</main>
		<transition name="fade">
			<app-modal v-show="isModalVisible" @hideModal="hideModal($event)" :modalUser="modalUser"></app-modal>
		</transition>
	</div>
</template>

<script>
import AnswerThread from '@/components/question/Answer_thread.vue';
import Modal from '@/components/Modal.vue';
import Voting from'@/components/question/Voting.vue';
import users from '@/assets/data/users.json';

export default {
	data() {
		return{
			users,
			isModalVisible: false,
			modalUser: {}
		}
	},
	components: {
		'app-modal' : Modal,
		'app-answer-thread' : AnswerThread,
		'app-voting': Voting
	},
	props: {
		question: Object,
		answers: Array,
		questionAuthor: Object
	},
	methods: {
		showModal: function(user) {
			this.modalUser = user;
			this.isModalVisible = true;
			document.body.scrollTop = document.documentElement.scrollTop = 0;
		},
		hideModal: function() {
			this.isModalVisible = false;
		}
	}
}
</script>
