<template lang="html">
	<aside class="voting">
		<p class="voting__text">
			<span class="voting__value">{{ votesParent.votes }}</span>
			<span v-if="votesParent.votes > -1">upvotes</span>
			<span v-else>downvotes</span>
		</p>
		<div class="voting__panel">
			<button class="voting__btn voting__btn--up" :class="{active : votesParent.ifVoted > 0 }" @click="vote(1, $event)"></button>
			<button class="voting__btn voting__btn--down" :class="{active : votesParent.ifVoted < 0 }" @click="vote(-1, $event)"></button>
		</div>
	</aside>
</template>

<script>
export default {
	props: {
		votesParent: Object
	},
	methods: {
		vote(val, event) {
			if(this.votesParent.ifVoted !== val) {
				this.votesParent.ifVoted += val;
				this.votesParent.votes += val;
			}
		}
	}
}
</script>
