<template>
	<transition name="fade">
		<router-view></router-view>
	</transition>
</template>

<script>
export default {

}
</script>

<style lang="scss">
////////////////////////////
// Main Styles:
@import 'css/style.scss';
////////////////////////////


// Vue Tranistion 'Fade' effect:
.fade-enter-active, .fade-leave-active {
	transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

</style>
